

.bottom {
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: white;
    height: 100px;
}

.center {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: rgba(200,216,228,255);
    height: 1000px;
}

.footer {
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: rgba(43,103,119,255);
    height: 50px;
}

.logo {
    background-color: white;
    margin: auto auto auto 5px;
    width: 50px;
}

.menu {
    background-color: white;
    margin: auto 10px auto auto;
    width: 260px;
}

.profil {
    margin-top: 50px;
    background-color: skyblue solid;
    padding: 50px;
    width: 300px;
    height: 500px;
}

.annonce {
    margin-top: 50px;
    padding: 50px;
    width: 600px;
    height: 900px;
    background-color: white;
    border: skyblue solid 2px;
    border-radius: 2em;
    box-shadow: 2px 2px 10px black;
}

a:link {
    color: rgb(252, 0, 0);
}

a:visited {
    color: rgb(0, 0, 0);
}

a:active {
    color: rgb(0, 0, 0);
}

a:hover {
    color: rgb(13, 140, 190);
}

.miniFooter {
    margin: auto;
}

.bottomBouton1 {
    margin: auto auto auto 20%;
}

.bottomBouton2 {
    margin: auto;
}

.boutonEnvoyerPublier {
    margin-left: 80%;
    border-radius: 10px;
}

.aide {
    margin-top: 50px;
    padding: 50px;
    width: 1000px;
    height: 900px;
    background-color: white;
    border: skyblue solid 2px;
    border-radius: 2em;
    box-shadow: 2px 2px 10px black;
}
