.img_mur {
    height: 40vh;
    padding-top: 20px;
}

.img_profil {
    width: 150px;
    height: 150px;
    border-radius: 30px !important;
    position: relative;
    top: -50px;
    margin: 0 auto;
    padding: 0;
    display: block;
}

.post-comments a {
    text-decoration: none !important;
    color: #2b6777 !important;
}

    .post-comments a:hover {
        text-decoration: none !important;
        color: #52ab98 !important;
    }

.btnGreen {
    background-color: #52ab98 !important;
    color: white !important;
}

.btnDarkGreen {
    background-color: #2b6777 !important;
    color: white !important;
}

.btnOrange {
    background-color: #C33A21 !important;
    color: white !important;
}


#container_profil {
    background-color: #f2f2f2;
    ;
}

#left_side {
    background-color: #ffffff;
    ;
}

.bi-star-fill {
    color: gray;
    padding: 0.0625rem;
}

    .bi-star-fill.gold {
        color: #ffdc0f;
    }

.rating {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stars {
    display: inline-flex;
    justify-content: center;
    font-size: 3em;
}

/* lined tabs */

.ligne.nav-link {
    color: black !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
}

    .ligne.nav-link:hover {
        color: black !important;
        border-top: none !important;
        border-left: none !important;
        border-right: none !important;
        border-bottom: 3px solid transparent !important;
    }

    .ligne.nav-link.active {
        background: none !important;
        color: black !important;
        border-top: none !important;
        border-left: none !important;
        border-right: none !important;
        border-bottom: 3px solid #2b6777 !important;
    }

.border-e {
    border-radius: 2rem;
}

.wall_post_img img {
    width: 100%;
    height: auto;
}

.collapsible {
    background-color: #ffffff;
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

    .activeToogle, .collapsible:hover {
        background-color: #52ab98;
        color: white;
    }

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}


.blog-comment::before,
.blog-comment::after,
.blog-comment-form::before,
.blog-comment-form::after {
    content: "";
    display: table;
    clear: both;
}

/*.blog-comment {
    padding-left: 15%;
    padding-right: 15%;
}
*/
.blog-comment ul {
    list-style-type: none;
    padding: 0;
}

.blog-comment img {
    opacity: 1;
    filter: Alpha(opacity=100);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}

    .blog-comment img.avatar {
        position: relative;
        float: left;
        margin-left: 0;
        margin-top: 0;
        width: 65px;
        height: 65px;
        margin: 10px;
    }

.blog-comment .post-comments {
    /*        border: 1px solid #eee;*/
    margin-bottom: 20px;
    margin-left: 85px;
    margin-right: 0px;
    padding: 10px 20px;
    position: relative;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    /*        background: #fff;*/
    color: #6b6e80;
    position: relative;
}

.blog-comment .meta {
    font-size: 13px;
    color: #aaaaaa;
    padding-bottom: 8px;
    margin-bottom: 10px !important;
    border-bottom: 1px solid #eee;
}

.blog-comment ul.comments ul {
    list-style-type: none;
    padding: 0;
    /*        margin-left: 85px;*/
}

.blog-comment-form {
    /*    padding-left: 15%;
    padding-right: 15%;*/
    /*    padding-top: 40px;*/
}

    .blog-comment h3,
    .blog-comment-form h3 {
        margin-bottom: 40px;
        font-size: 26px;
        line-height: 30px;
        font-weight: 800;
    }

.title-text {
    color: rgb(45, 179, 202);
}

.checked {
    color: orange;
}

.bg-white {
    background: #ffffff;
}

/*body {
    background: #eee;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #FFFFFF;
}

a {
    color: rgb(45, 179, 202);
    text-decoration: none;
}*/

.modal-confirm .icon-box i {
    color: #f15e5e;
    font-size: 46px;
    display: inline-block;
    margin-top: 13px;
}


.modal-confirm {
    color: #636363;
    width: 400px;
    margin: 30px auto;
}

    .modal-confirm .modal-content {
        padding: 20px;
        border-radius: 5px;
        border: none;
        text-align: center;
        font-size: 14px;
    }

    .modal-confirm .modal-header {
        border-bottom: none;
        position: relative;
    }




    .modal-confirm h4 {
        text-align: center;
        font-size: 26px;
        margin: 30px 0 -10px;
    }

    .modal-confirm .close {
        position: absolute;
        top: -5px;
        right: -2px;
    }

    .modal-confirm .modal-body {
        color: #999;
    }

    .modal-confirm .modal-footer {
        border: none;
        text-align: center;
        border-radius: 5px;
        font-size: 13px;
        padding: 10px 15px 25px;
    }

        .modal-confirm .modal-footer a {
            color: #999;
        }


    .modal-confirm .btn {
        color: #fff;
        border-radius: 4px;
        background: #60c7c1;
        text-decoration: none;
        transition: all 0.4s;
        line-height: normal;
        min-width: 120px;
        border: none;
        min-height: 40px;
        border-radius: 3px;
        margin: 0 5px;
        outline: none !important;
    }

    .modal-confirm .btn-info {
        background: #c1c1c1;
    }

        .modal-confirm .btn-info:hover, .modal-confirm .btn-info:focus {
            background: #a8a8a8;
        }

    .modal-confirm .btn-danger {
        background: #f15e5e;
    }

        .modal-confirm .btn-danger:hover, .modal-confirm .btn-danger:focus {
            background: #ee3535;
        }
