

.img_mur {
    height: 40vh;
    padding-top: 20px;
}

.img_profil {
    width: 150px;
    height: 150px;
    border-radius: 75px;
    position: relative;
    top: -50px;
    margin: 0 auto;
    padding: 0;
    display: block;
}

.btnGreen {
    background-color: #52ab98 !important;
    color: white !important;
}

.btnDarkGreen {
    background-color: #2b6777 !important;
    color: white !important;
}

.btnOrange {
    background-color: #C33A21 !important;
    color: white !important;
}


#container_profil {
    background-color: #f2f2f2;
    ;
}

#left_side {
    background-color: #ffffff;
    ;
}

.bi-star-fill {
    color: gray;
    cursor: pointer;
    padding: 0.0625rem;
}

    .bi-star-fill.gold {
        color: #ffdc0f;
    }

.rating {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stars {
    display: inline-flex;
    justify-content: center;
    font-size: 3em;
}

/* lined tabs */

.ligne.nav-link {
    color: black !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
}

    .ligne.nav-link:hover {
        color: black !important;
        border-top: none !important;
        border-left: none !important;
        border-right: none !important;
        border-bottom: 3px solid transparent !important;
    }

    .ligne.nav-link.active {
        background: none !important;
        color: black !important;
        border-top: none !important;
        border-left: none !important;
        border-right: none !important;
        border-bottom: 3px solid #2b6777 !important;
    }

.border-e {
    border-radius: 2rem;
}

.wall_post_img img {
    width: 100%;
    height: auto;
}

.collapsible {
    background-color: #ffffff;
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

    .activeToogle, .collapsible:hover {
        background-color: #52ab98;
        color: white;
    }

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}
