.white {
    background-color: white;
}

.navbar {
    background-color: #52ab98;
}

.aqua,
.number_service,
.service_info i {
    color: #52ab98 !important;
}

.navbar a,
.btn-primary-e a,
footer span,
footer a {
    color: white;
}

.nav-menu-icon li:hover ul li a {
    color: white !important;
}

.arrow:hover,
.post_item h1,
.post_item i,
.post_item h2,
.nav-menu-icon li:hover ul li:hover a {
    color: #2b6777 !important;
}

/* .page_layout, */
.nav-menu-icon li ul li:hover {
    background-color: #c8d8e4 !important;
}

a,
.btn-primary-e:hover a,
.post_search_text,
.btn_like,
.side_bar_nav li {
    color: #225360;
}

/* .type_post label{
  color: #1e454f;
} */

.jq-radio.checked .jq-radio__div {
    background: #317e6e !important;
}


/*
.btn-primary-e a {
    color: #c8d8e4;
}
*/

a:hover,
.side_bar_nav a:hover,
.btn_like:hover,
.post_view small,
.like_cont span,
.post_counter,
.arrow {
    color: #52ab98;
}

.btn-primary-e
 {
    color: white;
    /*color: #c8d8e4 !important;*/
    background-color: #52ab98;
}


    .btn-primary-e:hover {
        background-color: #c8d8e4;
        /*  border: 1px solid #2b6777;*/
        color: #255b6a !important;
        -webkit-box-shadow: 0px 0px 19px 1px rgba(78, 133, 174, 0.32) inset;
        -moz-box-shadow: 0px 0px 19px 1px rgba(78, 133, 174, 0.32) inset;
        box-shadow: 0px 0px 19px 1px rgba(78, 133, 174, 0.32) inset;
    }

    .btn-primary-e:active {
        background-color: #b1cde2;
        /*  border: 1px solid #2b6777;*/
        color: #255b6a;
    }
footer {
    background-color: #255b6a;
}