body {
    background: #fff;
    color: #6d6d6d;
    margin: 0 auto;
}

* {
    outline: none !important;
}

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    outline: none;
}

img {
    vertical-align: middle;
}

.w-15 {
    width: 15%;
}

.mt-min {
    margin-top: 0.5rem;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.align-item-end {
    align-items: flex-end;
}

.btn-primary-e {
    transition-duration: 0.4s;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    /*text-transform: uppercase;*/
    padding: 0.5rem;
    border-radius: 4px;
    font-weight: 500;
}

   /* .btn-primary-e:hover{
        border: 1px solid #52ab98;
    }*/

    .btn-secondary-e {
        transition-duration: 0.4s;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        /*text-transform: uppercase;*/
        padding: 0.5rem;
        border-radius: 4px;
        font-weight: 500;
    }

/*tout les page*/
.page_container {
    width: 80%;
    margin: 0 auto;
    max-width: 1400px;
}

.border-e {
    border: 1px solid #52ab98;
    border-radius: 2rem;
    box-shadow: 0px 0px 9px 1px rgba(34, 60, 80, 0.25);
}

.border-e-1 {
    border: 1px solid #52ab98;
    border-radius: 8px;
    box-shadow: 0px 0px 9px 1px rgba(34, 60, 80, 0.25);
}

.border-top-e {
    border-top: 1px solid #52ab98;
    padding-top: 1rem;
}

.border-bottom-e {
    border-bottom: 1px solid #52ab98;
    padding-bottom: 1rem;
}

/*1. HEADER*/
header {
    height: 95px;
    /*border-bottom: 1px solid #52ab9888;*/
    -webkit-box-shadow: 0px 0px 14px 3px rgba(78, 133, 174, 0.32);
    -moz-box-shadow: 0px 0px 14px 3px rgba(78, 133, 174, 0.32);
    box-shadow: 0px 0px 14px 3px rgba(78, 133, 174, 0.32);
}

.nav-logo {
    width: 280px;
}

    .nav-logo img {
        height: 90px;
        padding: 0.3rem;
        margin: 0 1.5rem;
    }

.info img {
    width: 80px;
    display: none;
}

.search_header {
    position: relative;
    width: 100%;
    margin-bottom: 0.8rem;
    max-width: 700px;
}

    .search_header input {
        width: 100%;
        height: 42px;
        padding-left: 15px;
        border: 1px solid #2b6777;
    }

    .search_header button {
        border: none;
        height: 42px;
        width: 42px;
        position: absolute;
        top: 16px;
        right: 5px;
        cursor: pointer;
        color: #2b6777;
        font-weight: 400;
        background: transparent;
    }

    .search_header input:focus {
        border-color: #52ab98
    }

.btn-search-all_post{
    width: 180px !important;
}

.btn-search-all_post_icon{

    display: none;
}

.nav-menu-icon {
    /*max-width: 270px;*/
}

.nav-menu-icon li {
    width: 45px;
    position: relative;
    z-index: 99;
}

.nav-menu-icon ul {
    position: absolute;
    transition: opacity .25s ease .1s;
    opacity: 50;
   /* -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;*/
    -webkit-transition: opacity .25s ease .1s;
    -moz-transition: opacity .25s ease .1s;
    -o-transition: opacity .25s ease .1s;
    transition: opacity .25s ease .1s;
}

.triangle {
    width: 0;
    height: 0;
}

.nav-menu-icon li:hover .triangle {
    overflow: visible;
    width: 0;
    height: 0;
    left: 35px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 8px solid #2b6777;
    overflow: hidden;
    -webkit-transition: height .25s ease .1s;
    -moz-transition: height .25s ease .1s;
    -o-transition: height .25s ease .1s;
    transition: height .25s ease .1s;
    position: absolute;
}

.nav-menu-icon li:hover > ul {
    opacity: 50;
    width: 150px;
    margin-left: -5px;
    margin-top: 5px;

}

.nav-menu-icon ul li {
    text-align: left !important;
    width: 100%;
    height: 0;
    overflow: hidden;
    -webkit-transition: height .25s ease .1s;
    -moz-transition: height .25s ease .1s;
    -o-transition: height .25s ease .1s;
    transition: color .25s ease .1s;
    background: #2b6777;
}


.nav-menu-icon li ul li:hover {
    -webkit-transition: background-color ease-in 300ms;
    -moz-transition: background-color ease-in 300ms;
    -o-transition: background-color ease-in 300ms;
    transition: background-color ease-in 300ms;
}

.nav-menu-icon li:hover > ul li {
    padding: 0.5rem;
    height: 36px;
    width: 100%;
    overflow: visible;
    border-bottom: 1px solid #fff;
}

/* .nav-menu-icon li:hover > ul:last-child li{ 
  border-bottom: none; 
} */

.nav-menu-icon ul li a {
    width: 100%;
    margin: 0;
    padding-bottom: 0.5rem;
    border: none;
    color: #fff !important;
}

.nav-menu-icon ul li:last-child {
    border-bottom: none !important;
}

.nav-menu-iconul li:last-child a {
    border: none;
}

    .nav-menu-icon li:hover .info img {
        display: block;
    }

.nav-menu-block > .btn-primary-e {
    width: 14rem;
}

.btn_registration {
    width: 13rem;
}

.navbar-badge {
    font-size: 0.9rem;
    font-weight: 300;
    padding: 2px 4px;
    position: absolute;
    right: -11px;
    top: -10px;
    border-radius: 50%;
}

/*2. Page annonce*/
/*recherche*/
.toutes_post{
    max-width: 1200px !important;
}

.post_search {
    min-height: 240px;
    justify-content: end;
}
.type_post label {
    /*text-shadow: #469685 1px 0 10px;*/
    text-shadow: none;
}

.type_post .jq-checkbox,
.type_post .jq-radio {
    /*border: none !important;
    box-shadow: 0px 0px 6px 5px rgba(43, 103, 119, 0.35) !important;*/
    border: 1px solid #2b6777;
}

.jq-radio.checked .jq-radio__div {
    margin: 2px 0 0 2px !important;
    border-radius: 50%;
    background: #777;
    /* box-shadow: inset 1px 1px 1px rgb(0 0 0 / 70%); */
}

/*.post_search {
    height: 300px;*/
    /*background-image: url(../img/fond1.jpg);*/
    /*background-size: 100%;
}*/

.btn-search {
    border-color: transparent;
    width: 195px;
    height: 3rem;
    padding-top: 0.8rem;
}

.btn-search-1 {
    border-color: transparent;
    width: 7rem;
    height: 3rem;
    padding-top: 0.8rem;
}

.search_category .jq-selectbox__select {
    background: white !important;
    border-color: transparent !important;
    border-radius: 3rem !important;
    /*width: 14rem !important;*/
    height: 2.8rem !important;
}

.jq-selectbox li.selected {
    background-color: #9fbfd7 !important;
}

.jq-selectbox li:hover {
    background-color: #2b6777 !important;
}

.jq-selectbox__select-text {
    width: 100% !important;
    margin-top: 0.5rem;
}

#poste_annonce .jq-selectbox__select {
    border: none;
    background: transparent;
    box-shadow: none;
    text-shadow: none;
}

#poste_annonce .jq-selectbox__select:active {
    border: none;
    background: transparent;
    box-shadow: none;
    text-shadow: none;
}


.search_category .jq-selectbox__trigger-arrow {
    top: 20px !important;
}

.search_category .jq-selectbox__dropdown {
    width: 13rem !important;
    margin-left: 0.5rem !important;
    border-radius: 10px !important;
    text-align: left;
}

.search_select_form {
    width: 14rem;
    height: 3rem;
    border: 1px solid #2b6777;
    border-radius: 2rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

#poste_annonce .search_select_form {
    width: 14rem;
    height: 3rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    border: 1px solid #52ab98;
    border-radius: 8px;
    box-shadow: 0px 0px 9px 1px rgba(34, 60, 80, 0.25);
}
.jq-file {
    border: 1px solid #52ab98;
    border-radius: 8px;
    box-shadow: 0px 0px 9px 1px rgba(34, 60, 80, 0.25);
    width: 14rem !important;
}

.jq-file__name {
    border: 1px solid #52ab98;
    border-radius: 8px;
    box-shadow: 0px 0px 9px 1px rgba(34, 60, 80, 0.25);
}
/* menu profil */
.side_bar_nav img {
    width: 180px;
}

.side_bar_nav {
    width: 220px;
    margin-top: 21px;
}

    .side_bar_nav li {
        margin-bottom: 2rem;
    }

.sticky {
    position: sticky;
    top: 10px;
}

/* Annonce */
.post_search_text{
    margin-top: 1rem;
}

.post_list .jq-selectbox__dropdown {
    border-radius: 10px !important;
    text-align: left;
}

.post_list .jq-selectbox__select {
    height: 2rem !important;
    border-radius: 1rem !important;
    width: 10.5rem !important;
    background: none;
    box-shadow: none;
    border: 1px solid #95c0e0;
}

.post_list .jq-selectbox__select-text {
    margin-top: 0 !important;
}

.post_list .jq-selectbox li:hover {
    background-color: #9fbfd7 !important;
}


.post_list .jq-selectbox__select-text {
    margin-left: 1rem;
    text-shadow: none;
}

.post_img img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow: 0 0 7px #52ab98;
}

.wall_post_img img {
    width: 250px;
    height: 250px;
}

.post_content {
    margin-bottom: 1.5rem;
}

.post_info {
    padding-left: 1rem;
}

.post_info_text {
    height: 170px;
}

    .post_info_text span {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow-y: hidden;
    }

    .post_info_text p {
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        overflow-y: hidden;
    }

.post_info p {
    text-overflow: ellipsis;
}

.btn_like {
    width: 66px;
    height: 30px;
}

    .btn_like i {
        font-size: 2rem;
    }

.annonce_form input {
    padding-left: 0.8rem;
    padding-right: 0.8rem;
}


.annonce_form textarea {
    padding: 0.8rem;
}

/* Commentaire */
.comment_content,
.comment_reply {
    border-top: 1px solid #52ab98;
    padding-top: 2rem;
}

.comment_user img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 0 0 7px #52ab98;
}

.form-message {
    width: 100%;
    margin-left: 1rem;
    margin-right: 1rem;
    border: 1px solid #52ab98;
    border-radius: 1rem;
}

.btn_reply {
    border: none;
    background-color: white;
    color: #52ab98;
    font-size: 1.5rem;
}

/* Meilleures notes */
.top_post {
    width: 250px;
}

.top_post_content {
    width: 200px;
    height: 200px;
}

.top_post_img {
    height: 130px;
    width: 160px;
    padding: 0.5rem;
}

.top_post_item img {
    width: 150px;
    max-height: 120px;
    border-radius: 1rem;
}


/* Navigation site */
.navbar {
    width: 100%;
}

    .navbar li {
        margin-left: 10px;
        margin-right: 10px;
    }

/* End  Navigation site */

/* 2. PAGE ANNONCE */

.breadcrumb {
    padding: 20px 0;
    background-color: transparent;
}

.list-inline li {
    display: inline;
}

.list-inline {
    padding-left: 0;
    list-style: none;
}

.breadcrumb ul li + li::before {
    content: "/";
    margin-left: 5px;
    margin-right: 5px;
}



.post_info_item {
    border-top: 1px solid #52ab98;
}



/* Carousel image l'annonce */
.slide {
    display: none
}
/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.slide img {
    width: 80%;
    margin-left: 10%;
}


/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev {
    left: 0;
}

    /* On hover, add a black background color with a little bit see-through */
    .prev:hover, .next:hover {
        /*background-color: rgba(0,0,0,0.8);*/
        border-radius:50%;
    }



/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

    .active, .dot:hover {
        background-color: #717171;
    }

/*Fading animation */
.slide {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: slide;
    animation-duration: 1.5s;
}

@-webkit-keyframes slide {
    from {
        opacity: .3
    }

    to {
        opacity: 1
    }
}

@keyframes slide {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .prev, .next, .text {
        font-size: 11px
    }
}

/* End Carousel image l'annonce */

.bar_icons i {
    font-size: 1.5rem;
}

.map-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

    .map-responsive iframe {
        left: 0;
        top: 0;
        width: 100%;
        position: absolute;
    }

.number_service {
    width: 25px;
    height: 25px;
    border: 1px solid #52ab98;
    border-radius: 50%;
}

.block_service i {
    font-size: 2.5rem;
}

.service_info {
    width: 25%;
}

.view_of_post img {
    width: 55px;
    height: 55px;
    border-radius: 50%;
}
/* 2. END PAGE ANNONCE */

/* FOOTER */
footer {
    line-height: 1.8rem;
}

    footer span {
        font-size: 1rem;
        border-bottom: 1px solid white;
        text-transform: uppercase;
    }
