@model Pojeet.ViewModels.AideViewModel

@{
    Layout = "_LayoutIdentifie";
    ViewBag.Title = "Aide";
}






<div class="aide mt-3">

    <h2 class="text-center bold">Contact</h2>
    <p>
        Veuillez apporter toutes les précisions qui pourraient être utiles à notre équipe dans la résolution de
        votre problème : numéro de transaction,
        description exhaustive du souci rencontré, etc...<br>
        Nous ferons de notre mieux pour vous répondre sous 48 heures.
    </p>

    <div class="flex-col">

        @using (Html.BeginForm("DemanderAide", "Aide", FormMethod.Post))
        {
            <!-- Coordonnées -->
        <div class="flex-col justify-content-center border-e white text-center p-5" style="width: 80%; margin-left: 10%">

            <div class="flex-col text-left" style="margin-bottom: -2rem;">
                <label for="coordonnées">Nom :</label>
                @Html.TextBoxFor(model => model.Aide.Nom, new { @class = "w-100", placeholder = "Nom", id = "Nom" })<br><br>
            </div>
            <div class="flex-col text-left" style="margin-bottom: -2rem;">
                <label for="coordonnées">Email :</label>
                @Html.TextBoxFor(model => model.Aide.Mail, new { @class = "w-100", placeholder = "Email", id = "Mail" })<br><br>
            </div>
            <div class="flex-col text-left" style="margin-bottom: -2rem;">
                <label for="objet">Objet :</label>
                @Html.TextBoxFor(model => model.Aide.Objet, new { @class = "w-100", placeholder = "Objet", id = "Objet" })<br><br>
            </div>
            <div class="flex-col text-left">
                <p class="m-0">Votre message : </p><br>

                @Html.TextAreaFor(model => model.Aide.Message, new { @class = "form-control w-100", placeholder = "Message", rows = 10, id = "Message" })<br><br>
            </div>

            <input type="submit" value="Envoyer" class="btn-primary-e align-self-center font-size-14 btn-search mb-1" />
            <input id="button" type="button" value="Démo"
                   onclick="document.getElementById('Nom').value = 'Helper';
                            document.getElementById('Mail').value = 'helperHelperIsika@gmail.com';
                            document.getElementById('Objet').value = 'Je suis nouveau helper';
                            document.getElementById('Message').value = 'Bonjour, je suis nouveau et je voudrais comment se passe les assurances sur ce site'" />
        </div>
        }

    </div>
</div>

<style type="text/css">
    .post_item {
        background-color: transparent;
        border: none;
        box-shadow: none;
    }
    input{
        height: 3rem;
        padding-left: 1rem;
    }
</style>


