@model Pojeet.ViewModels.AideViewModel

@{
    Layout = "_LayoutIdentifie";
    ViewBag.Title = "Aide";
}
<div class="text-center p-5">
    <h3>Votre message a été envoyé.</h3>
    <h3>Nous ferons de notre mieux pour vous répondre sous 48 heures.</h3>
</div>