@model Pojeet.ViewModels.AideViewModel

@{
    Layout = "_LayoutIdentifie";
    ViewBag.Title = "Aide";
}





<div class="aide">

    <h2>Contact</h2><br>
    <p>
        Veuillez apporter toutes les précisions qui pourraient être utiles à notre équipe dans la résolution de
        votre problème : numéro de transaction,
        description exhaustive du souci rencontré, etc...<br>
        Nous ferons de notre mieux pour vous répondre sous 48 heures.
    </p>

    
        @using (Html.BeginForm("DemanderAide", "Aide", FormMethod.Post))
        {
            <!-- Coordonnées -->

            <h3>Coordonnées</h3><br>

            <label for="coordonnées">Nom :</label>
            @Html.TextBoxFor(model => model.Aide.Nom, new { placeholder = "Nom" })<br><br>

            <label for="coordonnées">Email :</label>
            @Html.TextBoxFor(model => model.Aide.Mail, new { placeholder = "Email" })<br><br>

            <h3>Objet du message</h3><br>

            <label for="objet">Objet :</label>
            @Html.TextBoxFor(model => model.Aide.Objet, new { placeholder = "Objet" })<br><br>

            <h3>Votre message : </h3><br>

            @Html.TextAreaFor(model => model.Aide.Message, new { @class = "form-control", placeholder = "Message", style="rows:10;cols:50;width: 500px" })<br><br>

            <input type="submit" value="Envoyer" class="btn-primary-e align-self-center font-size-14 btn-search mb-1 float-right" />

        }
    

</div>



