
@{
    Layout = "_LayoutIdentifie";
    ViewBag.Title = "PosterAnnonce";
}

    
    



<div class="annonce_form">


    <form>

        <!-- Type d'annonce -->

        <div class="type-post flex-row">
            <div class="flex-row">
                <input name="type-post" id="typePost1" type="radio" value="offre" checked>
                <label class="bold ml-1" style="text-shadow: none;" for="typePost1">Offres</label>
            </div>
            <div class="flex-row ml-4">
                <input name="type-post" id="typePost2" type="radio" value="demande">
                <label class="bold ml-1" style="text-shadow: none;" for="typePost2">Demandes</label>
            </div>
        </div>

        <!-- Catégorie -->

        <label for="categorie" class="inline">Catégorie :</label> <br>
        <input class="border-e-1" type="text" list="catégorie_proposee" id="categorie" name="categorie" />
        <datalist id="catégorie_proposee">
            <option value="Moteur"></option>
            <option value="Habitacle"></option>
            <option value="Carrosserie"></option>
            <option value="Roue"></option>
        </datalist><br><br>

        <!-- Titre de l'annonce -->

        <label for="titre" class="inline">Titre de l'annonce :</label> <br>
        <input class="border-e-1" type="text" id="titre" name="titre"><br><br>

        <!-- Description -->

        <label for="description" class="inline">Description :</label> <br>
        <textarea class="border-e-1 w-100" style="width: 500px;" type="textarea" rows="10" cols="50" id="description"
                  name="description"></textarea><br><br>

        <!-- Date butoire -->

        <label for="date" class="inline">Date butoire :</label> <br>
        <input class="border-e-1" type="date" id="date" name="date"><br><br>

        <!-- Département -->

        <label for="departement" class="inline">Département :</label> <br>
        <input class="border-e-1" type="number" id="prix" name="prix"><br><br>

        <!-- Prix -->

        <label for="prix" class="inline">Prix :</label> <br>
        <input class="border-e-1" type="number" id="prix" name="prix"><br><br>

        <input type="submit" value="Publier" class="btn-primary-e align-self-center font-size-14 btn-search mb-1 float-right" />

    </form>
</div>

