@{
    Layout = "_LayoutIdentifie";
    ViewBag.Title = "Inbox";
}
<text>
    <div style="text-align:center">
        <br />
        <br />
        Vous n'avez aucune conversation dans votre messagerie.
    </div>
</text>