@media only screen and (max-width:1270px) {
  .top_post {
    display: none;
  }

  .btn_registration {
    font-size: 1rem !important;
  }

  .nav-menu-icon li{
    width: 40px;

  }

  .nav-menu-icon i {
    font-size: 1.3rem !important;
  }
}

@media only screen and (max-width:992px) {}
