body {
    margin: 0;
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Rubik', sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    background-color: #fff;
    letter-spacing: 0.05rem;
}

a{
    font-size: 1rem;
}


h1{
  font-weight: bold;
}


h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.5rem;
  font-weight: 300;
  line-height: 1.5;
}


h1,
.h1 {
  font-size: 1.8rem;
}

h2,
.h2 {
  font-size: 1.3rem;
}

h3,
.h3 {
  font-size: 1.2rem;
}

h4,
.h4 {
  font-size: 1.1rem;
}

h5,
.h5 {
  font-size: 1rem;
}

h6,
.h6 {
  font-size: 0.9rem;
}

p{
  font-size: 1rem;
}

.font-size-6 {
  font-size: 0.5rem;
}

.font-size-8 {
  font-size: 0.6rem;
}

.font-size-11 {
  font-size: 0.7rem;
}

.font-size-12 {
  font-size: 0.8rem;
}

.font-size-13 {
  font-size: 0.9rem;
}

.font-size-14 {
  font-size: 0.9rem;
}

.font-size-15 {
  font-size: 1rem;
}


.font-size-16 {
  font-size: 1.1rem;
}

.font-size-17 {
  font-size: 1.2rem;
}

.font-size-18 {
  font-size: 1.3rem;
}

.font-size-20 {
  font-size: 1.4rem;
}

.font-size-22 {
  font-size: 1.5rem;
}

.font-size-24 {
  font-size: 1.6rem;
}

.font-size-25 {
  font-size: 1.7rem;
}

.font-size-26 {
  font-size: 1.8rem;
}

.font-weight-light {
  font-weight: 300 !important;
}

.font-weight-lighter {
  font-weight: lighter !important;
}

.font-weight-normal {
  font-weight: 400 !important;
}

.bold {
  font-weight: bold !important;
}

.font-weight-900{
  font-weight: 900;
}

.jq-selectbox__select-text,
.search_select_form,
.jq-selectbox__dropdown li{
  font-family: 'Montserrat', sans-serif;
  color: #333e48;
  font-size: 0.9rem !important;
}
